<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


<h1>Games#new</h1>
<p>Find me in app/views/games/new.html.erb</p>


<div class="text-inline" id="letters">
  <% @letters.each do |letter| %>
    <div id=letter_card><%= letter  %></div>
  <% end %>
</div>

<form action="/score" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :letters, @letters %>
  <input type="text" name="guess" placeholder="What is the longest word you can find?">
  <input type="submit" value="Play!">
</form>
